body {
	font-family: "Lato";
	color: #2d2d2d;
	background-color: ghostwhite;
	margin: 0px;
}

footer a, footer a:visited {
	color: #00FA9A;
	text-decoration: none;
}

footer a:hover{
	color: white;
}

#footer {
	background-color: #2d2d2d;
	padding: 10px 28px 40px 28px;
	max-width: 100%;
	margin-top: 30px;
	color: white;
}

#img-div {
	max-width: 100%;
	margin: auto;
}

img {
	max-width: 100%;
	margin: auto;
}

#main {
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
	max-width: 100%;
	margin: auto;
}

blockquote {
	color: #2d2d2d;
	font-size: 1.3em;
	font-family: "Roboto Mono";
	font-style: italic;
	font-weight: bold;
	text-shadow: 2px 2px #00FA9A;
	
}

blockquote footer {
	margin-top: 10px;
	font-size: 15px;
	font-style: italic;
	text-shadow: none;
	text-align: right;
}

#img-caption {
	font-style: italic;
	font-size: 15px;
}

#title {
	color: #2d2d2d;
	/*text-shadow: 2px 2px #00FA9A;*/
	justify-self: center;
	font-size: 2.5em;
	font-style: italic;
	font-family: "Roboto Mono";
	white-space: nowrap;
}
